{% include "partials/action/persona.j2" %}
{% include "partials/action/current_context.j2" %}
{% include "partials/action/relationship_rituals.j2" %}
{% include "partials/action/adoption_ritual.j2" %}
{% include "partials/action/review_transcript.j2" %}
{% include "partials/action/memory_context.j2" %}
{% include "partials/action/writing_style.j2" %}
{% include "partials/action/runtime_context.j2" %}
{% include "partials/action/identity_and_tools.j2" %}
